@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* * { */
/* border: 1px solid red; */
/* } */

body {
  font-family: 'Lato', sans-serif;
  color: #888888;
}

/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
header {
  height: 400px;
  background-color: #707070;
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 .part1 {
  font-size: 24px;
}

h1 .part2 {
  font-size: 45px;
  letter-spacing: 0px;
  font-weight: bold;
}

h1 .part3 {
  font-size: 15px;
  margin: 24px 0;
}

nav,
nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: #888888;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 160px;
  margin: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
  text-decoration: none;
}

/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */
main {
  margin: 0 auto;
  max-width: 930px;
  min-height: calc(100vh - 400px - 290px);
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

section .header {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
hr {
  width: 100%;
  height: 0;
  border: 1px solid #707070;
}

section .header h2 {
  padding: 10px;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PRODUCT CARD */
/* PRODUCT CARD */
/* PRODUCT CARD */
/* PRODUCT CARD */
/* PRODUCT CARD */
/* PRODUCT CARD */
.cardsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productCard {
  margin-bottom: 40px;
}

.imageDiv img {
  min-height: 145px;
}

.imageDiv {
  width: 200px;
  height: 150px;
  border: 1px solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoDiv {
  padding-top: 16px;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardName {
  font-size: 14px;
  margin-bottom: 10px;
}

.cardDescription {
  font-size: 12px;
  margin-bottom: 10px;
}

.cardOldPrice {
  font-size: 12px;
  margin-bottom: 6px;
}

.cardPrice {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}

.cardInst {
  font-size: 12px;
  margin-bottom: 6px;
}

.cardButton {
  color: #888888;
  background: #ffffff;
  border: 1px solid #707070;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 0px;
}

.loadMoreButton {
  color: #888888;
  border: 1px solid #707070;
  border-radius: 4px;
  font-size: 16px;
  height: 40px;
  width: 260px;
  background: #ffffff 0% 0% no-repeat padding-box;
  margin: 50px;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
footer {
  height: 290px;
  background-color: #707070;
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  padding: 4px;
  font-size: 14px;
}

/* MEDIA QUERY */
/* MEDIA QUERY */
/* MEDIA QUERY */
/* MEDIA QUERY */
/* MEDIA QUERY */
/* MEDIA QUERY */
@media (max-width: 1000px) {
  main {
    max-width: 680px;
  }
}

@media (max-width: 750px) {
  h1 {
    width: 370px;
    align-items: flex-start;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  main {
    max-width: 420px;
    min-height: calc(100vh - 400px - 160px);
  }

  .cardsDiv {
    display: flex;
    flex-direction: column;
  }

  .productCard {
    display: flex;
  }

  .imageDiv img {
    min-height: 125px;
  }

  .imageDiv {
    width: 165px;
    height: 130px;
    margin-right: 25px;
  }

  .infoDiv {
    padding-top: 0;
    width: 175px;
    height: 130px;
  }

  .cardDescription {
    display: none;
  }

  footer {
    height: 160px;
  }
}
